<%= render 'layouts/alphamenu'%>

<%= will_paginate @entries %>

<div id="entry-list">
  <% if action_name == 'show_by_letter' %>
    <h1>
      <%= params[:letter].upcase %>
    </h1>
  <% end %>
  <section>
    <% @entries.to_a.each_index do |idx| %>
      <span><%= link_to @entries[idx].topic, @entries[idx] %></span>
      <% if idx != 0 && idx +1 != Entry.per_page && (idx + 1) % (Entry.per_page / 3) == 0 %>
      </section>
      <section>
    <% end  %>
  <% end %>
      </section>
</div>

<%= will_paginate @entries %>
